:root{
    --primary:#ddd;
    --dark:#333;
    --light:#fff;
    --shadow:0 1px 5px rgba(104,104,104,0.8);
}


html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}


body{
    background: rgb(233, 231, 231);
    margin:20px 33px;
    line-height: 1.4;
}


.btn{
    background-color: var(--dark);
    color:var(--light) ;
    padding: 0.6rem 1.1rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width:100% ;
}

.wrapper{
    display: grid;
   grid-gap: 20px;
}
.title{
    border: 2px black solid;
    margin: auto;
    width: 30%;
    text-align: center;
    font-weight: bolder;
    margin-top: 0;
    background: linear-gradient( black, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}


.main-nav ul{
 display: grid;
 grid-gap: 20px;
 padding: 0;
 list-style: none;
 grid-template-columns: repeat(4,1fr);
}

.main-nav ul a{
    text-decoration: none;
    padding: 0.6rem;
    color: var(--light);
    background: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    text-align: center;
    display: block;
}
.main-nav ul a:hover{
    color: var(--dark);
    background-color: var(--light);
    cursor: pointer;
}

/* tpp container */
.top-containner{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
       'showcase showcase top-box-a'
       'showcase showcase top-box-b';
}

.showcase{
    grid-area: showcase;
    min-height: 400px;
    background-image: url(../images/consultancy.jpeg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);

} 
.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--dark);

}

.showcase p{
    font-size: 1.3rem;
    margin-top: 0px;
    color: black;
}

.top-box{
    background: var(--light);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box .price{
    font-size: 2rem;
}
.top-box-a{
    grid-area: top-box-a;
}
.top-box-b{
    grid-area: top-box-b;
}


.boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    align-items: center;
    gap: 20px;
}

.box{
    background:var(--light);
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: var(--shadow);
}

.info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    background: var(--light);
    padding:3rem;
    box-shadow: var(--shadow);
    
}
.port{
   width: 100%;
   box-shadow: var(--shadow);
   filter: grayscale(100%); 
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    width: 100%;
     gap: 20px;
     padding: 10px 1px;
     border: 0.1px gray ridge;
     box-shadow: 4px 4px 2px black,-4px -4px 2px black;

     
   
}
.port:hover{
   filter: grayscale(0%);
   transform: scale(1.1);
}

footer{
    margin-top: 2rem;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

@media (max-width:700px){
    .top-containner{
        grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
        margin-bottom: 20px;
    }
    .showcase h1{
        font-size: 2.5rem;
    }

    .main-nav ul{
        grid-template-columns:1fr
    }
    .info{
        grid-template-columns: 1fr;
    }

    .info .btn{
        display: block;
        text-align: center;
        border-radius: 10px;
        
    }
}

@media (max-width:400px){
    body{
       margin: 0px 5px; 
       
    }
    .showcase{
        min-height: 100px;
    }
    .top-containner{
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';
    }
}
